body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
  margin: 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

.subtle a {
  color: #000;
  text-decoration: none;
  &:visited {
    color: #333; }
  &:hover {
    text-decoration: underline;
    color: #111;
    background-color: #EEE; }
}

.logolink a {
  font-style: bold;
  font-size: 120%;
  text-decoration: none;
  &:link {
    color: #000; }
  &:visited {
    color: #000; }
  &:hover {
    color: #111;
    background-color: #DDD; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }


.notice, .alert {
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
.notice {
  border-color: green;
  background-color: #DFD;
  color: green; }
.alert {
  border-color: red;
  background-color: #FDD;
  color: red; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

.navbar {
  border-width: 3px;
  border-style: outset;
  border-color: #999;
  background-color: #CCC;
  padding: 3px
}

table.minimal {
  border-style: hidden;
  border-collapse: collapse;
  td, th {
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px;
  }
}

table.display {
  border-collapse: collapse;
  td, th {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 0px 3px;
    
    p {
      padding: 0px;
      margin: 0px;
    }
  }
  th {
    text-align: left;
    background-color: #eee;
  }
}

.wide {
  width: 100%;
}
.wide_tds td {
  width: 100%;
}

.bold {
  font-weight: bold;
  a { 
    &:visited {
      color: #000; 
      background-color: #FFF;
    }
    &:hover {
      color: #000; 
      background-color: #FFF;
      text-decoration: none;
    }
  }
}